.news-card{
    width: 600px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(126, 126, 126) 0px 5px 15px;
    position: relative;
    overflow: hidden;
    background-image: url("../../assets/backgroundImage/black-bg.jpg");
    background-position: center;
    background-repeat: repeat;
    cursor: pointer;
    margin: 10px;

    p{
        text-align: center;
        color: white;
        text-align: center;
        transition: 0.5s;
    }

}
.news-card:hover{
    p{
        color: rgb(146, 146, 6);
        transition: 0.5s;
    }
}