.taskbar{
    display: flex;
    position: fixed;
    top: 50%;
    right: -35px;
    flex-direction: column;
    cursor: pointer;
    border-radius: 40% 0 0 40%;
    width: 35px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 1s;
    z-index: 1001;


    .taskbar__icon{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-decoration: none;
    }

    .taskbar__left{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        right: 80%;
        z-index: -1;
        border-radius: 50% 0 0 50%;
        padding: 3px;
        transition: 0.7s;
    }
}

.taskbar:hover{
    right: 0;
    transition: 0.5s;
}
.taskbar:hover .taskbar__left{
    right: -100%;
    transition: 0.7s;
}