.mp3-card{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;

    .mp3-card__img{
        overflow: hidden;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .card__img{
            width: 100%;
            height: 100%;
            transition: 0.5s;
        }
    }
    p{
        font-weight: bold;
    }
}

.mp3-card__img:hover .card__img{
    width: 110%;
    height: 110%;
    margin-top: -5%;
    margin-left: -5%;
    transition: 0.5s;
}
.mp3-card:hover{
    p{
        color: purple;
    }
}


